/* Main Styling */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background: #eee;
}

/* Dropdown Menu */

.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
}

.open-menu {
  position: absolute;
  display: block;
}
